<component name="ArtifactManager">
  <artifact type="war" name="springboot-project-management:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>springboot-project-management</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="springboot-project-management.war">
      <element id="artifact" artifact-name="springboot-project-management:war exploded" />
    </root>
  </artifact>
</component>