<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootprojectmanagement.mapper.AssetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootprojectmanagement.pojo.Asset">
        <id column="id" property="id" />
        <result column="project_code" property="projectCode" />
        <result column="asset_name" property="assetName" />
        <result column="asset_type" property="assetType" />
        <result column="asset_status" property="assetStatus" />
        <result column="asset_value" property="assetValue" />
        <result column="asset_rental_status" property="assetRentalStatus" />
        <result column="asset_buy_time" property="assetBuyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_code, asset_name, asset_type, asset_status, asset_value, asset_rental_status, asset_buy_time
    </sql>

</mapper>
