<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootprojectmanagement.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springbootprojectmanagement.pojo.User">
        <id column="id" property="id" />
        <result column="bz" property="bz" />
        <result column="password" property="password" />
        <result column="true_name" property="trueName" />
        <result column="user_name" property="userName" />
        <result column="remarks" property="remarks" />
        <result column="is_del" property="isDel" />
        <result column="role_id" property="roleId" />
        <result column="register_time" property="registerTime" />
        <result column="email" property="email" />
        <result column="active_code" property="activeCode" />
        <result column="active_status" property="activeStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bz, password, true_name, user_name, remarks, is_del, role_id, register_time, email, active_code, active_status
    </sql>

</mapper>
